In [ ]:
import mysql.connector # !pip install mysql-connector-python 
from mysql.connector import Error
import pandas as pd

try: 
    connection = mysql.connector.connect(host='35.208.82.175', 
                                         database='dbgsipp7ucsuwy',
                                         user='uqsnolewgvge8',
                                         password='upgradehub', connection_timeout=180)

    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL database... MySQL Server version on ", db_Info)

        cursor = connection.cursor()
        connection.commit()

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    # closing database connection.
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query1 = """ SELECT * FROM PRODUCTO; """
cursor.execute(query1)
cursor.fetchall()
df1 = pd.read_sql(query1, connection)
# df1.to_csv('producto.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query2 = """ SELECT NOMBRE FROM EMPLEADO; """
cursor.execute(query2)
cursor.fetchall()
df2 = pd.read_sql(query2, connection)
# df2.to_csv('NombreEmpleados.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query3 = """ SELECT COUNT(NUMERO) as 'Numero Pedidos' FROM PEDIDO; """
cursor.execute(query3)
cursor.fetchall()
df3 = pd.read_sql(query3, connection)
# df3.to_csv('NumeroPedidos.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query4 = """ SELECT NOMBRE FROM REPARTIDOR WHERE TURNO = 'TARDE'; """
cursor.execute(query4)
cursor.fetchall()
df4= pd.read_sql(query4, connection)
# df4.to_csv('RepartidorTurnoTarde.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query5 = """ SELECT MAX(PRECIO) FROM PRODUCTO; """
cursor.execute(query5)
cursor.fetchall()
df5 = pd.read_sql(query5, connection)
# df5.to_csv('MAXPRECIOPRODUCTO.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query6 = """ SELECT * FROM PEDIDO WHERE IMPORTE >100; """
cursor.execute(query6)
cursor.fetchall()
df6 = pd.read_sql(query6, connection)
# df6.to_csv('PEDIDOSMAYOR100.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query7 = """ SELECT * FROM EMPLEADO WHERE SALARIO > (SELECT AVG(SALARIO) FROM EMPLEADO); """
cursor.execute(query7)
cursor.fetchall()
df7 = pd.read_sql(query7, connection)
# df7.to_csv('EmpleadosMayorSalario.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query7a = """ SELECT AVG(SALARIO) as 'Salario Promedio' FROM EMPLEADO; """
cursor.execute(query7a)
cursor.fetchall()
df7a = pd.read_sql(query7a, connection)
# df7a.to_csv('AVGSalario.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query8 = """ SELECT DISTINCT(NOMBRE) FROM PRODUCTO; """
cursor.execute(query8)
cursor.fetchall()
df8 = pd.read_sql(query8, connection)
# df8.to_csv('ListaNoDuplicados.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query9 = """ SELECT NUMERO,FECHA FROM PEDIDO WHERE FECHA >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH); """
cursor.execute(query9)
cursor.fetchall()
df9 = pd.read_sql(query9, connection)
# df9.to_csv('PedidosUltimoMes.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query10 = """ SELECT * FROM EMPLEADO WHERE SALARIO = (SELECT MIN(SALARIO) FROM EMPLEADO); """
cursor.execute(query10)
cursor.fetchall()
df10 = pd.read_sql(query10, connection)
# df10.to_csv('SalMasBajo.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query11 = """SELECT p.nombre, c.Codigo_P_compuesto as component From PRODUCTO p Left Join esta_compuesto c ON p.Codigo = c.codigo_P; """
cursor.execute(query11)
cursor.fetchall()
df11 = pd.read_sql(query11, connection)
# df11.to_csv('productosycomponentes.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query12 = """ SELECT SUM(Importe) FROM PEDIDO; """
cursor.execute(query12)
cursor.fetchall()
df12 = pd.read_sql(query12, connection)
# df12.to_csv('ImporteTotalPedidos.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query13 = """SELECT * FROM EMPLEADO WHERE DNI NOT IN (SELECT DNI FROM REPARTIDOR);"""
cursor.execute(query13)
cursor.fetchall()
df13 = pd.read_sql(query13, connection)
# df13.to_csv('EmpleadosNoRepartidores.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query14 = """SELECT PEDIDO.numero, PEDIDO.Fecha, PEDIDO.Importe, EMPLEADO.Nombre FROM PEDIDO JOIN EMPLEADO ON PEDIDO.DNI_ETM = EMPLEADO.DNI;"""
cursor.execute(query14)
cursor.fetchall()
df14 = pd.read_sql(query14, connection)
# df14.to_csv('Pedidos&Empleadoquetomou.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query15 = """SELECT Numero_P as 'Numero do Pedido', SUM(Cantidad) as ' Cantidad Produtos' FROM consta group by Numero_P;"""
cursor.execute(query15)
cursor.fetchall()
df15 = pd.read_sql(query15, connection)
# df15.to_csv('cantidadProdutosPedido.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query16 = """SELECT PEDIDO.Importe, REPARTIDOR.Nombre FROM PEDIDO JOIN REPARTIDOR ON PEDIDO.DNI_R = REPARTIDOR.DNI;"""
cursor.execute(query16)
cursor.fetchall()
df16 = pd.read_sql(query16, connection)
# df16.to_csv('repartidor$Importe.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query17 = """SELECT NUMERO as 'Numero do Pedido', Hora_tm as 'Hora Tomado', Hora_pre as 'Hora de Preparo' FROM PEDIDO;"""
cursor.execute(query17)
cursor.fetchall()
df17 = pd.read_sql(query17, connection)
# df17.to_csv('horapedidoxpreparo.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query18 = """SELECT sum(Incentivo) FROM REPARTIDOR;"""
cursor.execute(query18)
cursor.fetchall()
df18 = pd.read_sql(query18, connection)
# df18.to_csv('totalincentivosrepartidores.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query19 = """SELECT e.nombre, COUNT(p.DNI_ETM) as total_pedidos FROM EMPLEADO e LEFT JOIN PEDIDO p ON e.DNI = p.DNI_ETM GROUP BY e.nombre HAVING COUNT(p.DNI_ETM) > 5;"""
cursor.execute(query19)
cursor.fetchall()
df19 = pd.read_sql(query19, connection)
# df19.to_csv('empleadosmaisde5pedidos.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query20 = """SELECT PEDIDO.numero, PEDIDO.Fecha, PEDIDO.Importe, EMPLEADO.Nombre FROM PEDIDO JOIN EMPLEADO ON PEDIDO.DNI_EP = EMPLEADO.DNI;"""
cursor.execute(query20)
cursor.fetchall()
df20 = pd.read_sql(query20, connection)
# df20.to_csv('pedidosxempleadopreparo.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query21 = """SELECT * FROM PRODUCTO WHERE PRECIO > (SELECT avg(PRECIO) FROM PRODUCTO);"""
cursor.execute(query21)
cursor.fetchall()
df21 = pd.read_sql(query21, connection)
# df21.to_csv('mayorquepromedio.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query22 = """SELECT * FROM (SELECT nombre, turno FROM EMPLEADO UNION ALL SELECT nombre, turno FROM REPARTIDOR) AS unioned ORDER BY turno, nombre;"""
cursor.execute(query22)
cursor.fetchall()
df22 = pd.read_sql(query22, connection)
# df22.to_csv('empleados&repartidoresporturno.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query23 = """SELECT PEDIDO.numero, EMPLEADO.Nombre as 'Nombre del Empleado', REPARTIDOR.Nombre as 'Nombre del Repartidor' FROM PEDIDO JOIN EMPLEADO ON PEDIDO.DNI_EP = EMPLEADO.DNI JOIN REPARTIDOR ON PEDIDO.DNI_R = REPARTIDOR.DNI;"""
cursor.execute(query23)
cursor.fetchall()
df23 = pd.read_sql(query23, connection)
# df23.to_csv('pedidosporempleado.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query24 = """SELECT UPPER(Nombre) FROM PRODUCTO;"""
cursor.execute(query24)
cursor.fetchall()
df24 = pd.read_sql(query24, connection)
# df24.to_csv('nombremaiuscula.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query25 = """SELECT a.Nombre, COUNT(b.DNI_R) as 'Quantidade', SUM(b.Importe) as 'Importe Total' FROM REPARTIDOR a JOIN PEDIDO b ON a.DNI = b.DNI_R group by a.Nombre;"""
cursor.execute(query25)
cursor.fetchall()
df25 = pd.read_sql(query25, connection)
# df25.to_csv('pedidos&importerepartidor.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query26 = """SELECT * FROM PEDIDO WHERE year(Fecha) = 2023;"""
cursor.execute(query26)
cursor.fetchall()
df26 = pd.read_sql(query26, connection)
# df26.to_csv('pedidos2023.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query27 = """SELECT Nombre, DNI FROM REPARTIDOR WHERE DNI IN (SELECT DNI_R FROM PEDIDO Where Fecha >= (DATE_SUB(CURDATE(), INTERVAL 1 WEEK)));"""
cursor.execute(query27)
cursor.fetchall()
df27 = pd.read_sql(query27, connection)
# df27.to_csv('repartidorpedidossemana.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query28 = """SELECT Numero, Fecha - curdate() FROM PEDIDO;"""
cursor.execute(query28)
cursor.fetchall()
df28 = pd.read_sql(query28, connection)
# df28.to_csv('diasdopedido.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query29 = """SELECT * FROM EMPLEADO WHERE Turno = 'mañana' and Salario > '2000';"""
cursor.execute(query29)
cursor.fetchall()
df29 = pd.read_sql(query29, connection)
# df29.to_csv('salarios&turno.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query30 = """SELECT Nombre as 'Nombre', Precio *1.1 as 'Precio con 10% más' FROM PRODUCTO;"""
cursor.execute(query30)
cursor.fetchall()
df30 = pd.read_sql(query30, connection)
# df30.to_csv('productosmas10porciento.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query31 = """SELECT * FROM PEDIDO WHERE Importe = (SELECT MAX(Importe) FROM PEDIDO);"""
cursor.execute(query31)
cursor.fetchall()
df31 = pd.read_sql(query31, connection)
# df31.to_csv('mayorimporte.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query32 = """SELECT Nombre, DNI FROM EMPLEADO where DNI not in (SELECT DNI_ETM FROM PEDIDO);"""
cursor.execute(query32)
cursor.fetchall()
df32 = pd.read_sql(query32, connection)
# df32.to_csv('empleadossinpedidos.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query33 = """SELECT b.Nombre, a.Fecha  FROM REPARTIDOR b JOIN PEDIDO a ON a.Hora_rep > '20:00:00';"""
cursor.execute(query33)
cursor.fetchall()
df33 = pd.read_sql(query33, connection)
# df33.to_csv('entreganocturna.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query34 = """SELECT Nombre, Precio FROM PRODUCTO WHERE Precio = (SELECT MAX(Precio) FROM PRODUCTO);"""
cursor.execute(query34)
cursor.fetchall()
df34 = pd.read_sql(query34, connection)
# df34.to_csv('productomascaroprecio.csv', index=False)

In [ ]:
connection = mysql.connector.connect(host='35.208.82.175', database='dbgsipp7ucsuwy', user='uqsnolewgvge8', password='upgradehub', connection_timeout=180000)
cursor=connection.cursor()
query35 = """SELECT a.Nombre, SUM(b.Importe) FROM EMPLEADO a JOIN PEDIDO b ON a.DNI = b.DNI_ETM group by a.Nombre; """
cursor.execute(query35)
cursor.fetchall()
df35 = pd.read_sql(query35, connection)
# df35.to_csv('empleadosimportestotais.csv', index=False)